.dashboard-main {
  padding: 2rem;
  max-width: 100vw;
}

.App .dashboard-main p {
  font-size: 0.9rem;
}

.App.rtl .dashboard-main p {
  font-size: 0.8rem;
}

.dashboard-main p {
  text-align: justify;
}
.dashboard-main h3 {
  margin-bottom: 1rem;
  font-weight: bold;
}

.transparent-button {
  background-color: transparent;
  width: auto;
  height: auto;
  border: none;
  outline: none;
}

.transparent-button:hover {
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

.transparent-button:focus {
  outline: none;
}

.transparent-button.disabled {
  background-color: transparent;
}

.btn {
  border-radius: 0;
  font-size: 0.8rem;
}

.btn.disabled {
  opacity: 0.25;
}