#company-products {
  background-color: #f8f9fa;
  margin-top: 0;
  margin-bottom: 0;
  color: #989898;
}

#company-products p {
  text-align: justify;
  line-height: 2;
  padding: 5px;
}

#company-products .larger-p {
  font-size: 1.1rem;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}