.product-card {
  border-radius: 0;
  border: none;
  margin: 15px;
}

.product-card:hover {
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.05);
}

.product-card img {
  border-radius: 10%;
  width: 70%;
}

.product-card .card-title {
  color: black;
  margin-top: 20px;
  font-weight: bold;
}

.product-card .card-header {
  padding-top: 40px;
  text-transform: capitalize;
  background-color: transparent;
  border: none;
}

.product-card .btn {
  border-radius: 0;
  border-width: 0;
}

.product-card:hover .btn {
  background-color: #1f28de;
  font-weight: bold;
}

.product-card .card-footer {
  border: none;
  background-color: transparent;
  padding-bottom: 25px;
}
