.footer-col {
  padding: 2rem;
}

#site-footer {
  background-color: black;
  color: #BDC3C7;
  text-align: center;
  margin-top: auto;
}

#site-footer h6 {
  color: white;
  margin-bottom: 1rem;
  font-weight: bold;
}

#site-footer p {
  color: rgba(255, 255, 255, 0.5);
  text-align: justify;
  font-size: 0.8rem;
  margin-top: 0.4rem;
}

#site-footer a {
  margin-top: 0.4rem;
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
}

#site-footer a:hover {
  color: white;
}

#site-footer hr {
  color: white;
  background: rgba(255, 255, 255, 0.2);
  width: 75%;
}

#site-footer .copyright {
  font-size: 0.7rem;
  text-align: center;
}
