.jumbotron h3 {
  margin: 1.5rem;
}



.App .jumbotron p {
  font-size: 0.9rem;
}

.App.rtl .jumbotron p {
  font-size: 0.8rem;
}

.jumbotron .jumbo-content-card p {
  text-align: justify;
}

.jumbo-content-card {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.jumbo-content-card:hover {
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.05);
}
