.shrinkable-page-wrapper {
  display: flex;
  flex: 1;
}

.shrinkable-sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 999;
  transition: all 0.3s;
  overflow-x: hidden;
}

.sidebar-rtl {
  right: 0;
  box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.3);
}

.sidebar-ltr {
  left: 0;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.shrinkable-content {
  flex-grow: 1;
  text-align: justify;
  transition: all 0.3s;
  padding: 0;
}