.pricing-plan-card {
  background-color: white;
  border-radius: 0;
  border-width: 16px;
  max-width: 400px;
  min-width: 150px;
  margin: auto;
  height: 100%;
}

.pricing-plan-card p {
  color: #989898;
}

.pricing-plan-card .price-desc {
  font-size: 0.7rem;
  color: #989898;
}

.pricing-plan-card .card-header {
  padding-top: 3rem;
  background-color: transparent;
  border-radius: 0;
  border-width: 0;
}

.pricing-plan-card .card-header .card-title {
  font-weight: bold;
}

.pricing-plan-card .card-header hr {
  width: 75%;
  margin-top: 2rem;
}

.pricing-plan-card .card-body {
  border-radius: 0;
  border-width: 16px;
  background: transparent;
  padding: 2rem;
}

.pricing-plan-card:hover {
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.5);
}

.pricing-plan-card:hover .btn {
  background-color: #980098;
  font-weight: bold;
}

.pricing-plan-card .btn {
  border-radius: 0;
  border-width: 0;
  margin-top: 4rem;
}

.pricing-plan-card .below-button-text {
  margin-top: 1rem;
  color: black;
  text-align: justify;
}