.shared-modal {
  border-radius: 0;
}

.shared-modal div.modal-content {
  border-radius: 0;
}

.shared-modal div.modal-body {
  text-align: justify;

}

.shared-modal div.button-placeholder {
  border: none;
  display: flex;
  flex-direction: row;
}

.shared-modal .btn {
  min-width: 25%;
  margin-left: 2px;
  margin-right: 2px;
}