.sidebar-container {
  width: 100%;
  height: 100%;
  background-color: black;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow: scroll;
  overflow-x: hidden;
}

.sidebar-container ul {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-top: 25px;
  text-align: center;
  padding-inline-start: 0;
}

.sidebar-container li {
  padding: 5px 0 5px 0;
}

.sidebar-container li:hover a {
  border-right: 10px solid white;
}

.sidebar-container a {
  color: rgba(255, 255, 255, 0.7);
}

.sidebar-container a.active {
  color: white;
  border-right: 4px solid white;
}

.sidebar-container li:hover a {
  color: white;
  font-weight: bold;
}

.sidebar-container .side-bar-header {
  font-weight: bold;
  color: black;
  background-color: white;
}

.sidebar-container .side-bar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar-container .side-bar-header p {
  margin: 2rem 0 0 0;
}

.sidebar-container .side-bar-logo {
  width: 75px;
  border-radius: 10%;
}

.sidebar-container footer {
  padding: 1rem;
}

.sidebar-container footer p {
  margin: 0;
  font-size: 0.6rem;
}

.sidebar-container footer a:hover {
  color: white;
}
