.text-page-container {
  margin-top: 100px;
  text-align: justify;
  padding: 1rem;
}

.text-page-container h4 {
  margin-bottom: 2rem;
  font-weight: bold;
}

.text-page-container h5 {
  margin-bottom: 1rem;
  font-weight: bold;
}

.text-page-container p {
  text-align: justify;
}