#toasts-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  padding-top: 10px;
}

.toast-notif {
  border-radius: 0.25rem;
  border: 1px solid transparent;
  transition: opacity 0.15s linear;
  display: flex;
  flex-direction: row;
  min-height: 40px;
  width: 100%;
  z-index: 1000;
  margin-bottom: 10px;
  padding: 10px;
}

.toast-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: justify;
  color: white;
  opacity: 1;
  font-size: 0.8rem;
}

.toast-content p {
  margin: 0;
}

.toast-content a {
  color: black;
  opacity: 0.7;
}

.toast-content a:hover {
  font-weight: bold;
  opacity: 1;
}

.toast-button {
  width: 40px;
  color: rgba(255,255,255, 0.8);
  text-shadow: none;
}

.toast-button:hover {
  color: rgba(255,255,255, 1);
  text-shadow: none;
}

/* #toasts-container .alert {
  padding: 0.5rem 0 0.5rem 0;
  margin-bottom: 0.5rem;
} */

/* .toast-content {
  flex: 1;
  background-color: red;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
} */
/* #toasts-container .close { */
  /* background-color: yellow; */
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
}

#toasts-container .close:focus {
  outline: none;
} */