.card-container {
  padding: 1rem;
}

.dashboard-content-card {
  padding: 1rem;
  min-width: 200px;
  height: 100%;
  border-radius: 0;
}

.dashboard-content-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.05);
}

.dashboard-content-card .card-text {
  color: rgb(152, 152, 152);
}
