.lab-deactivator-container {
  width: 100%;
  max-width: 576px;
  min-width: 200px;
  margin-top: 2rem;
}

.lab-deactivator-container .btn {
  min-width: 200px;
}

.lab-deactivator-container .card {
  border-radius: 0;
  margin-top: 2rem;
  padding: 2rem;
}

.lab-deactivator-container .card-text {
  font-size: 0.9rem;
}

.lab-deactivator-container .card .btn {
  align-self: center;
}