.lab-info-container {
  width: 100%;
  max-width: 576px;
  min-width: 200px;
  padding: 1rem;
}

.lab-info-container table {
  width: 100%;
}

.lab-info-container table td {
  padding: 0.5rem;
  font-size: 0.9rem;
}
