.lab-info-form input::placeholder {
  opacity: 0.3;
}

.lab-info-form input {
  border-radius: 0;
}

.lab-info-form textarea {
  border-radius: 0;
}

.lab-info-form .form-group {
  margin-bottom: 0.4rem;
}

.lab-info-form button {
  border-radius: 0;
  font-size: 0.8rem;
}

.lab-info-form label {
  font-size: 0.8rem;
}

.lab-info-form p.subText {
  font-size: 0.6rem;
  color: rgb(152, 152, 152);
}

.lab-info-form legend {
  font-size: 1rem;
}

.lab-info-form .btn.disabled {
  opacity: 0.25;
}