.lab-personnel-adder input::placeholder {
  opacity: 0.3;
}

.lab-personnel-adder input {
  border-radius: 0;
}

.lab-personnel-adder button {
  border-radius: 0;
  font-size: 0.8rem;
}

.lab-personnel-adder label {
  font-size: 0.8rem;
}

.lab-personnel-adder p.subText {
  font-size: 0.6rem;
  color: rgb(152, 152, 152);
}

.lab-personnel-adder legend {
  font-size: 1rem;
}

.lab-personnel-adder .btn.disabled {
  opacity: 0.25;
}