.lab-personnel-table td, th {
  font-size: 0.9rem;
  text-align: center;
}

.lab-personnel-table th.width-min {
  width: 1px;
  white-space: nowrap;
}

.lab-personnel-table .ltr {
  direction: ltr;
}

.lab-personnel-table .close {
  width: auto;
  height: auto;
}

.lab-personnel-table .close:focus {
  outline: none;
}