.lab-results-viewer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.lab-results-viewer .transparent-button {
  align-self: flex-end;
  margin-bottom: 1rem;
}

.lab-results-viewer .btn {
  border-radius: 0;
  font-size: 0.8rem;
}

.lab-personnel-adder .btn.disabled {
  opacity: 0.25;
}