#lab-download {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #eaeded;
}

#lab-download h3 {
  color: #980098;
  margin-bottom: 5rem;
}

#lab-download h5 {
  margin-bottom: 1rem;
}

#lab-download .description-col {
  padding: 2rem;
  text-align: justify;
}

#lab-download p {
  color: #989898;
  text-align: justify;
}

#lab-download li {
  color: #989898;
  font-size: 0.9rem;
}

#lab-download .description-col div {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#lab-download .description-col img {
  margin-top: 1rem;
  max-width: 190px;
}

#lab-download .description-col img:hover {
  cursor: pointer;
}

.screenshot-col img {
  height: 60vh;
}

.screenshot-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
