#lab-value-poster {
  width: 100vw;
  height: 100vh;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

#lab-value-poster.poster-fa {
  background-image: url(../../assets/lab_customer_fa.jpg);
}
#lab-value-poster.poster-ar {
  background-image: url(../../assets/lab_customer_ar.jpg);
}
#lab-value-poster.poster-fr {
  background-image: url(../../assets/lab_customer_fr.jpg);
}
#lab-value-poster.poster-en {
  background-image: url(../../assets/lab_customer_en.jpg);
}

#lab-value-poster div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  flex-direction: column;
}

#lab-value-poster .poster-message {
  color: white;
  width: auto;
  max-width: 70vw;
  height: auto;
  background: transparent;
  margin-bottom: 15vh;
  padding: 1.5rem;
  font-size: 1.3rem;
}

#lab-value-poster .poster-message h1 {
  font-weight: 900;
  line-height: 1.5em;
  font-size: 1em;
  margin-bottom: 2rem;
  text-shadow: 0 0 0.1em #000000;
}

#lab-value-poster .poster-message p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 0.5rem #000000;
}

#lab-value-poster p.limited-notice {
  color: white;
  text-shadow: 0 0 0.2rem #000000;
  margin-top: 10px;
}

#lab-value-poster .btn {
  font-size: 1rem;
}

.poster-button-white {
  font-weight: normal;
  border-color: white;
  color: white;
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin-top: 1.5em;
  border-radius: 0;
}

.poster-button-white:hover {
  font-weight: bold;
  background-color: white;
  border-color: white;
  color: #990099;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* Small devices (landscape phones, 544px and up) */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {

  #lab-value-poster.poster-fa {
    background-image: url(../../assets/lab_customer_fa@2x.jpg);
  }
  #lab-value-poster.poster-ar {
    background-image: url(../../assets/lab_customer_ar@2x.jpg);
  }
  #lab-value-poster.poster-fr {
    background-image: url(../../assets/lab_customer_fr@2x.jpg);
  }
  #lab-value-poster.poster-en {
    background-image: url(../../assets/lab_customer_en@2x.jpg);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (min--moz-device-pixel-ratio: 3),
  only screen and (-o-min-device-pixel-ratio: 3/1),
  only screen and (min-device-pixel-ratio: 3),
  only screen and (min-resolution: 3dppx) {
  #lab-value-poster.poster-fa {
    background-image: url(../../assets/lab_customer_fa@3x.jpg);
  }
  #lab-value-poster.poster-ar {
    background-image: url(../../assets/lab_customer_ar@3x.jpg);
  }
  #lab-value-poster.poster-fr {
    background-image: url(../../assets/lab_customer_fr@3x.jpg);
  }
  #lab-value-poster.poster-en {
    background-image: url(../../assets/lab_customer_en@3x.jpg);
  }
}

@media (min-width: 544px) {
  #lab-value-poster .poster-message {
    font-size: 1.6rem;
  }
  #lab-value-poster .btn {
    font-size: 1.1rem;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  #lab-value-poster .poster-message {
    font-size: 1.7rem;
  }
  #lab-value-poster .btn {
    font-size: 1.2rem;
  }
  #lab-value-poster .poster-message p {
    font-size: 0.9rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #lab-value-poster .poster-message {
    font-size: 1.8rem;
  }
  #lab-value-poster .btn {
    font-size: 1.3rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #lab-value-poster .poster-message {
    font-size: 2rem;
  }
  #lab-value-poster .btn {
    font-size: 1.4rem;
  }
  #lab-value-poster .poster-message p {
    font-size: 1rem;
  }
}
