.gallery-placeholder {
  background-color: black;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-width: 500px;
  min-width: 100vw;
  padding: 0;
  margin: 0;
}

.gallery-placeholder img {
  object-fit: contain;
  transition: transform 0.25s ease;
  margin: 0;
}

.gallery-placeholder.normal img {
  width: 100%;
  width: 100vw;
  /* cursor: zoom-in; */
}

.gallery-placeholder.zoomed img {
  width: 500%;
  width: 500vw;
  cursor: zoom-out;
}
