#lab-result-poster {
  display: flex;
  width: 100vw;
  min-height: 70vh;
  background-color: black;
  background-image: url(../../assets/test_result.jpg);
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#lab-result-poster div {
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#lab-result-poster .poster-message {
  color: white;
  width: auto;
  max-width: 80vw;
  height: 100%;
  background: transparent;
}

#lab-result-poster .poster-message h3 {
  line-height: 2.5rem;
  font-size: 1.5rem;
  text-shadow: 0 0 0.2em #000000;
  margin-bottom: 3rem;
  font-weight: bold;
}

#lab-result-poster .poster-message p {
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0 0 0.05rem #000000;
  max-width: 600px;
  text-align: justify;
}

.my-button-white {
  border-color: white;
  color: white;
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin-top: 1.5rem;
  border-radius: 0;
}

#lab-result-poster .btn {
  font-size: 1rem;
}

.my-button-white:hover {
  background-color: white;
  border-color: white;
  color: #990099;
  font-weight: bold;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* Small devices (landscape phones, 544px and up) */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  #lab-result-poster {
    background-image: url(../../assets/test_result@2x.jpg);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (min--moz-device-pixel-ratio: 3),
  only screen and (-o-min-device-pixel-ratio: 3/1),
  only screen and (min-device-pixel-ratio: 3),
  only screen and (min-resolution: 3dppx) {
  #lab-result-poster {
    background-image: url(../../assets/test_result@3x.jpg);
  }
}
