.bottom-action-center {
  background-color: black;
  margin-top: auto;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}

.bottom-action-center .btn:hover {
  opacity: 1;
}

.bottom-action-center .btn {
  color: white;
  opacity: 0.6;
  text-decoration: none;
}

.bottom-action-center .btn p{
  font-size: 0.6rem;
  margin-top: 0.4rem;
}