.image-header {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}

.App .action-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: 0;
}

.App.rtl .action-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: auto;
  margin-left: 0;
}

.action-center .btn:hover {
  opacity: 1;
}

.action-center .btn {
  color: white;
  opacity: 0.6;
  text-decoration: none;
}

.action-center .btn p {
  font-size: 0.6rem;
  margin-bottom: 0;
  padding: 0;
}
