.labs-list-item {
  background-color: transparent;
  border: 2px solid #E5E8E8;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75px;
  margin-top: 5px;
  color: black;
}


.labs-list-item:hover {
  background-color: #E5E8E8;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.labs-list-item:focus {
  outline: 2px solid #990099;
}