.App {
  font-family: 'Open Sans', -apple-system, 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App p, ol, ul, li {
  font-size: 1rem;
}

.App.rtl p, .App.rtl ol, .App.rtl ul, .App.rtl li {
  font-size: 0.9rem;
}

.rtl {
  direction: rtl;
  font-family: IRANSans, -apple-system, sans-serif;
}


.ltr {
  direction: ltr;
}

.my-heading-font {
  font-family: 'Ubuntu', -apple-system, 'Helvetica Neue', sans-serif;
}

.rtl .my-heading-font {
  font-family: iranyekan;
}

a:hover {
  text-decoration: none;
}

a.light {
  color: orange;
}

a.light:hover {
  color: red;
  opacity: 0.7;
  font-weight: bold;
}

.rtl ol {
  list-style: arabic-indic;
}

.full-page-container {
  background-color: #f8f9fa;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.full-page-container a.footer-link {
  color: #998899;
  font-size: 0.6rem;
}

.full-page-container a.footer-link:hover {
  color: var(--info);
  opacity: 0.7;
  font-weight: bold;
}

.larger-p {
  font-size: 1.1rem;
}