@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/IRANYekanWeb_Medium.woff') format('woff');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/IRANSansWeb_Light.woff') format('woff');
}

/*
  handle the page while the web fonts are loading.
*/

.wf-loading * {
  opacity: 0;
}

.wf-loading {
  background: url('./assets/preload.svg') no-repeat center center;
  height: 100%;
  overflow: hidden;
}

.wf-active *,
.wf-inactive * {
  -webkit-transition: opacity 100ms ease-out;
  -moz-transition: opacity 100ms ease-out;
  -o-transition: opacity 100ms ease-out;
  transition: opacity 100ms ease-out;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: white;
  text-align: justify;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}


main {
  flex: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
