.navbar-logo {
  height: 65px;
  border-radius: 10%;
  transition: height 500ms ease-out;
}

.small-logo {
  height: 50px;
}

.my-navbar {
  background-color: white;
  transition: all 500ms ease-out;
  color: black;
  min-width: 300px;
}

.my-navbar .nav-item a {
  color: inherit;
  border: none;
}

.my-navbar .nav-item:hover {
  font-weight: bold;
}

.my-navbar .collapse .nav-item a.active {
  color: inherit;
  border-bottom: solid 2px;
}

.my-navbar .custom-toggler {
  color: inherit;
}

.my-navbar .custom-toggler:focus {
  outline: none;
}

.my-navbar .navbar-toggler-icon {
  color: inherit;
}

.my-navbar .navbar-toggler-icon:hover {
  color: #1f28de;
}

.my-navbar.purple .navbar-toggler-icon:hover {
  color: #990099;
}

.transparent {
  background-color: transparent;
  color: white;
}

.shrink {
  -webkit-box-shadow: 0px 12px 10px -6px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 12px 10px -6px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 12px 10px -6px rgba(0, 0, 0, 0.22);
}