#sidebar-menu-overlay {
  display: block;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0);
  z-index: 998;
}

#sidebar-menu-overlay.show {
  width: 100vw;
  opacity: 0.7;
}

#sidebar-menu-overlay.hide {
  width: 0;
  opacity: 0;
}

#sidebar-menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  color: #000;
  transition: all 700ms;
}

.sidebar-right {
  right: 0;
  transform: translateX(200px);
}


.sidebar-left {
  left: 0;
  transform: translateX(-200px);
}

.sidebar-right.slideIn {
  transform: translateX(0);
  width: 200px;
}

.sidebar-left.slideIn {
  transform: translateX(0);
  width: 200px;
}

.sidebar-right.slideOut {
  transform: translateX(200px);
  width: 0;
  /* display: none; */
}

.sidebar-left.slideOut {
  transform: translateX(-200px);
  width: 0;
  /* display: none; */
}

.sidebar-header {
  display: flex;
  align-items: center;
  min-height: 60px;
  padding: 15px;
}

#sidebar-menu .close:focus {
  outline: none;
}

#sidebar-menu ul {
  margin-top: 40px;
  text-align: center;
  padding-inline-start: 0;
}

#sidebar-menu li {
  padding: 10px 0 10px 0;
}

#sidebar-menu .active {
  font-weight: bold;
  border-right: 4px solid #6c7573;
}

#sidebar-menu li:hover {
  background-color: rgba(240, 240, 240, 1);
  font-weight: bold;
}

#sidebar-menu a {
  color: inherit;
}