.form-card {
  border-color: #E5E8E8;
  background-color: white;
  color: #989898;
  border-radius: 0;
  border-width: 16px;
  width: 80%;
  min-width: 250px;
  max-width: 400px;
  min-height: 400px;
  padding: 2rem;
}

.form-card form {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.form-card form .form-items-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-card .card-header {
  padding-top: 1rem;
  background-color: transparent;
  border-radius: 0;
  border-width: 0;
  padding-bottom: 1rem;
}

.form-card .card-footer {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  border-width: 0;
}

.form-card .btn {
  left: 0;
  border-radius: 0;
  border-width: 0;
  margin-bottom: 0.5rem;
}

.form-card .btn.disabled {
  opacity: 0.25;
}

.form-card input {
  border-radius: 0;
  font-size: 0.9rem;
  color: #989898;
  border-color: #E5E8E8;
  padding: 1.2rem;
  text-align: justify;
}

.form-card input:focus {
  color: #989898;
}

.form-card input::placeholder {
  color: #989898;
  opacity: 0.5;
}

.form-card .below-button-text {
  font-size: 0.6rem;
  text-align: justify;
}

.form-card .below-button-text .btn {
  margin: 0;
  font-size: 0.6rem;
  padding: 0;
}

.form-card .description-text {
  margin-top: 0.5rem;
  font-size: 0.6rem;
  text-align: justify;
}

.form-card ul {
  padding-inline-start: 0rem;
}

.form-card ul li {
  list-style-type: none;
}



/* .form-card:hover {
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.5);
} */